<?xml version="1.0"?>

<launch>
    <include file="$(find irobot_worlds)/launch/empty_world.launch">
        <arg name="paused" default="false"/>
        <arg name="use_sim_time" default="true"/>
        <arg name="gui" default="true"/>
        <arg name="headless" default="false"/>
        <arg name="debug" default="false"/>
        <arg name="verbose" default="false"/>
       <arg name="world_name" default="$(find irobot_worlds)/world/real_centro_piaggio.world"/>
    </include>
</launch>
